* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #fff;
}

.header {
    background-color: #222;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.nav {
    height: 75px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img__left__nav {
    margin-right: 41px;
}

.img__right__nav {
    margin-left: 39px;
}

.main {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.main__img {
    height: 764px;
}

.main__rectangle {
    margin-right: 16px;
}

.main__h1__heading {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.main__h2__heading {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__h2__heading__fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.offer__mb {
    margin-bottom: 96px;
}

.item1 {
    background-image: url(img/women.jpg);
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.item2 {
    background-image: url(img/men.jpg);
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item3 {
    background-image: url(img/kids.jpg);
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item4 {
    background-image: url(img/accesories.jpg);
    background-repeat: no-repeat;
    width: 1138px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.dsc__offer {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.heading__offer {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__item__text {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading__products {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.dsc__products {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.products__item {
    background-color: #F8F8F8;
}

.products__img {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.product__dsc {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product__name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__dsc__text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.produst__price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brawse {
    border: 1px #FF6A6A solid;
    padding: 15px 39px;
    color: #F26376;
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products__item__button {
    display: flex;
    width: 1140px;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width:1024px) {
    .container {
        max-width: 700px;
    }

    .main__img {
        max-height: 368px;
    }

    .main__h1__heading {
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .main__h2__heading {
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        gap: 19.9px;
    }

    .item1 {
        height: 167.617px;
    }

    .item2 {
        height: 167.617px;
    }

    .item3 {
        height: 167.617px;
    }

    .item4 {
        background-image: url(img/accesories.jpg);
        background-repeat: no-repeat;
        width: 700px;
        height: 116.043px;
    }

    .products__item__text {
        grid-column: span 2;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 342px);
        gap: 16px;
    }

    .products__img {
        width: 342px;
    }

    .products__item__button {
        max-width: 700px;
    }

    .product__dsc {
        gap: 12.65px;
    }

    .products__item__button {
        margin-top: 32.48px;
        margin-bottom: 70.52px;
    }

}

@media (min-width: 320px) and (max-width:767px) {
    .container {
        max-width: 375px;
    }

    .mobile__hidden {
        display: none;
    }

    .main__left {
        display: none;
    }

    .main__right {
        min-height: 363px;
    }

    .mobile_flex {
        display: flex;
        justify-content: center;
    }

    .grid {
        grid-template-columns: 375px;

    }

    .item4 {
        width: 375px;
    }

    .products__item__text {
        grid-column: 1;
    }

    .products__item__button {
        width: 375px;
    }

    .products__item {
        width: 359px;
    }

    .grid__mobile {
        display: grid;
        justify-items: center;

    }
}